body {
    /* background-image: url(/images/grunge-pattern.jpg); */
    /* background-image: url(/images/green.jpg);
    background-image: url(/images/green.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #F8F8F8;
}
#logo {
    height: 30px;
    width: 30px;
}
#logo2 {
    height: 40px;
    width: 40px;
}
.timer-div{
    display: flex;
    gap:1em
}

#task_input{
    width: 100%;
}

.radius-50p {
    border-radius: 50%;
}

.custom-container {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    
    background-color: #fff;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.table-div {
    margin-top: 2%;
    margin-bottom: 1%;
}

.lpad-0 {
    padding-left: 0px !important;
}
.bold {
    font-weight: bold;
}
.mb-10px {
    margin-bottom: 10px;
}
.w-10 {
    width: 10%;
}
.w-75 {
    width: 75%;
}
.w-100 {
    width: 75%;
}


#tasks-table_length {
    display: none !important;
}

#general_timer {
    /* position: absolute;
    bottom: 0;
    left: 0;
    width: 10vw;
    height: 10vh;
    background: white;
    border: 1px solid #ccc;
    border-top-right-radius:  4px;
    border-top-left-radius:  4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    font-size: 1.2rem;
    /* padding: 0.375rem 0.75rem; */
    padding: 10px 5px;
    line-height: 1.6;
    color:#000;
    text-align: center;
}
.login-button{
    /* background-color: #104744 !important; */
    background-color: #1d9a1d !important;
    font-size: 1.4em;
    color: #fff;
    border-radius: 40px;
}
.login-button:hover{
    background-color: #178017 !important;
}
.mb-5{
    margin-bottom: 5%;
}
#login-div {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 100vh;
}
.login-background {
    background: url(/images/login-back4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.form-container{
    width: 45%;
    padding: 6%;
    background: #fff;
    border: 1px solid #104744;
    border-radius: 4px;
    background: rgb(0 0 0 / 70%);
}
.login-title{
    color: #104744;
}
.login-title2{
    color: #fff;
    margin-bottom: 10%;
    text-align: center;
    font-size: 2em;
}
.border-top {
    border-top: 2px solid #000;
}
.border-bottom {
    border-bottom: 2px solid #000;
}
.child-header{
    background: #247C77;
    color: #fff;
}
.child-body {
    background: rgba(233, 236, 239, 0.54);
}
.showHistory {
    font-size: 1em;
    color: green;
}
.header {
    /* background: #247C77 !important;104744 */
    /* background: #000 !important; */
    background: #1d9a1d !important;
}
.search {
    /* background: #1d9a1d; */
}
.navbar-light .navbar-nav .nav-link {
    color:#fff;
}
table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > th.sorting_asc {
    border-top: none !important;
}
.btn-play {
    background-color: #104744;
    color: #fff;
    /* border: 1px solid #A8DE00;
    margin:auto;
    text-align:center;
    padding: 0px !important;
    width: 35px;
    height: 35px; */
}
.btn-play:hover{
    background-color: #165c58;
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color:#000;
}
.green-back{
    background-color: #1d9a1d;
    color:#fff;
}
.card{
    border: 2px solid #1d9a1d;
    border-radius: 6px;
}
.no-gutter{
    padding-left: 0px;
    padding-right: 0px;
}

.btn-stop {
    background-color: #fff;
    color: #e3342f;
    border: 1px solid #e3342f;
    margin:auto;
    text-align:center;
    padding: 0px !important;
    width: 35px;
    height: 35px;
}
.btn-stop:hover{
    background-color: #e3342f;
    color: #fff;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #247C77 !important;
    color:#fff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #2a918b !important;
    color:#fff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 5px 10px !important;
}
.worked {
    color: red;
    font-weight: bold;
    margin-bottom: 0px;
}
.swal2-popup  {
    font-size: 1em !important;
}
#tasks-table_filter {
    display: none !important;
}
.table th {
    border-top: none !important
}
#general_timer:hover{
    outline: 1px solid #104744;
    border-radius: 4px !important;
    background-color: #104744;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color:#fff;
}
#time_worked {
    font-weight: bold;
}
.table-hover tbody tr:not(.child-body):hover {
    color: #212529;
    background-color: #1d9a1d38;
}
.alertify-notifier .ajs-message.ajs-success {
    color: #fff;
    background: #1d9a1d !important;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0,5);
}
@media only screen and (max-width: 1198px) {
    .form-container {
        width: 60%;
    }
  }

@media only screen and (max-width: 991px) {
    #general_timer_text > span {
        font-size: 0.8em;
    }
    #general_timer {
        width: 11%;
    }
}
@media only screen and (max-width: 767px) {
    .task-div {
        width: 60% !important;
    }
    #general_timer {
        width: 15%;
    }
  }
  @media only screen and (max-width: 415px) {
    .task-div {
        width:75% !important;
    }
    #general_timer {
        width: 15%;
        position: absolute;
        top: 0;
        left: 50%;
        color: #fff;
    }
    .start-div {
        width: 15%;
    }
  }
#app_name {
    color:#fff;
}

#app_name:hover{
    color:#000;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #1d9a1d;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(52, 220, 74, 0.25);
}
.history-icon:hover{
    color:#1d9a1d;
}
.custom-gray {
    background: rgba(233, 236, 239, 0.54);
}